<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['career.ImageandText']}"/>
<div class="container-1">
  <div class="box-1">
   <figure>
  <img src="https://www.publicisgroupe.com/sites/default/files/2019-03/anne-gabrielle-heilbroner.jpg"  style=" padding-left:16%;  width:200px;height:200px;">
  <figcaption><p class="kj">Anne-Gabrielle <br>Heilbronner </p>
    <p class="paragraphe__subtitle">Member of the<br> Directoire, Secretary <br>General,<br> Publicis Groupe</p></figcaption>
</figure>
  </div>
  <div class="box-2">
<p class="kk">“ <br> We strongly believe that together work’s better. No silo, no solo,<br> no bozo is our compass.<br>
No silo: working in an integrated way is mandatory today.<br>
No solo: our craft needs teamwork, as there’s no successful soloist<br> without a band.<br>
No bozo: we need the best and the brightest talent with positive<br> attitude and spirit, to be all working in the same direction. The <br>Power of One is what makes our clients win, and our staff succeed.<br> We remain faithful to our “Viva La Difference” motto, we are a <br>diverse and inclusive workplace. We assess candidates on passion<br> and talent, rather than formal qualifications.<br>
Whether you come from prestigious universities or from the<br> school of life, you’re welcome: Publicis values ALL profiles and <br>individualities. If you like challenges, speed, transformation, and if <br>you are passionate about what you do, we’re waiting for you.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;”</p>

</div>
</div>

</div>

