<style>
.paragraphe__title-n3 {
    text-align: center;
    color: #9d833e;
        padding: 0;
    margin: 0 0 .5em;
    font-family: ITC New Baskerville W01;
    font-weight: 400;
    font-size: 2.1875em;
}

.paragraphe__title{
    color: #9d833e;
        padding-left: 24%;
    margin: 0 0 .5em;
    font-family: ITC New Baskerville W01;
    font-weight: 400;
    font-size: 1.5625em;
}
.paragraphe__content {
    color: #979797;
    padding-left: 24%;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: .5px;
    text-align: justify;
    display: inline-block;
    width: 100%;
}
.paragraphe p {
    margin-bottom: 1.5625em;
}
</style>












  <div class="paragraphe paragraphe--intro ">
  <br>
  <br>
    <h1 class="paragraphe__title-n3">Development in the Groupe</h1>      </div>
    <br>
    <br>
    <br>
</div>


<div class="content">
  <div class="shareable paragraphe">
    <h2 class="paragraphe__title">Because only people deliver value, we focus on our people<br> and what they care about.</h2>
        <div class="paragraphe__content">
            <p>Our Groupe is home to the most tech-savvy, creative, passionate, value-creating people in the industry.</p>

<p>We provide them with an environment based on accountability, merit and trust that enables the brightest,<br> most creative, highly dedicated people to do best work of their lives.<br>
It’s people that have built the adventure of this company over the past 90 years. And wherever they are in<br> the network, we value them, we invest in them, and we empower them. Because it’s their<br> energy, their creativity and their dedication that give us our strength.<br>
Driven by a strong sense of purpose and the desire to get it right, we give creativity a free reign every <br>day, in every corner of our business, to add value for our clients - and therefore, our people.<br>
We want to be admired as a hotbed of learning and development for the most ambitious and talented <br>people in the creative industries.</p>

<p>When asked, our clients say that what they value in their relationships with us is:</p>

<ul>
	<li>Expert and senior talent on the front line</li>
	<li>Flexibility</li>
	<li>A genuine holistic approach</li>
	<li>Solid data and analytics that reveal opportunities and elevate work</li>
	<li>Fresh and surprising creative ideas</li>
	<li>Creativity applied in the broadest possible sense - across strategy, data analysis, media, and creative<br> execution</li>
</ul>

<p>And beyond what our clients say they value, we're committed to creating and delivering extra value for<br> them: we invest in what our clients care about and need most.</p>

    </div>
      </div>
</div>



          </div>