<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['career.a1']}"/>
<html>

<body>



<ul id="menu1">
  <li id="one">Overview</li>
  <li id="two"><a href="http://localhost:4502/content/career/us/en/second.html?wcmmode=disabled" target="_blank">Job Oppotunities</a></li>
  <li id="three"><a href="http://localhost:4502/content/career/us/en/third-page.html?wcmmode=disabled" target="_blank"> Development in the Groupe</a></li>

</ul>  

</body>
</html>