
<style>
.paragraphe__titleee {
    color: #9d833e;
    padding-left: 20%;
    margin: 0 0 .5em;
    font-family: ITC New Baskerville W01;
    font-weight: 400;
    font-size: 1.5625em;
}

 .paragraphe__subtitleee {
    text-transform: uppercase;
    font-weight: inherit;
    font-size: 1em;
    margin-bottom: 1.25em;
            padding-left: 20%;
}
.paragraphe__imagee {
    margin: 0;
    width: 100%;
    position: relative;
padding-left: 20%;
}

.ppppp{
    color: #979797;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: .5px;
    text-align: justify;
    display: inline-block;
    width: 100%;
    padding-left: 20%;

}

    </style>
<br>
<br>
<br>
<h2 class="paragraphe__titleee">Championing Talent with Tools to Succeed</h2>
<h2 class="paragraphe__subtitleee">EXECUTIVE DEVELOPMENT PROGRAMME</h2>
<figure class="paragraphe__imagee">
          <img src="https://www.publicisgroupe.com/sites/default/files/2019-03/groupe-careers-development.jpg" alt="">
        </figure>
<div class="ppppp">
<p>Publicis Groupe’s Executive Development Program (EDP) provides our talents with a unique opportunity<br> to interact with their peers and hone skills needed to drive an agency or network on an international scale.<br>
<br>
Launched in 2007 under the guidance of the Groupe’s Director General, the EDP had one clear objective:<br> to enable directors and future leaders to realize their potential by exposing them to greater<br> responsibilities and ways of working. To achieve this, participants are invited to take part in a week-long <br>of intensive training. Through simulated management experiences they are able to familiarize themselves<br> with various methods, different approaches and tools they can immediately apply to their work functions.<br>
The EDP is unique in that it encourages the development of key skills, including:</p>
<ul>
	<li>Entrepreneurial spirit and how to think like a business leader and understand the principles of ownership and cash-flow</li>
	<li>Leadership and collaboration, and how to constantly search for new sources of innovation</li>
	<li>Driving change and change management</li>
</ul>
<p>Held three times a year – in Europe, USA and Asia - the EDP encourages talents to forge new relationships<br> with colleagues from different countries, with different nationalities and functions. Networking is a major<br> part of the program. Between 120 and 150 of our talents are invited to take part in the EDP every year</p>
        </div>