
<style>
.paragraphe__content {
    color: #979797;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: .5px;
    text-align: justify;
    display: inline-block;
    width: 100%;
}
</style>


<div class="paragraphe__content">
            <p>We’re looking for people who truly understand what it takes to serve clients beyond expectations: crack one-off client challenges. Develop insights.<br> Spark breakthrough creative ideas. Deliver ad hoc consultancy to our clients. Identify, pursue and convert new business leads.</p>

<p></p>

<p>Check out the latest job openings across Publicis Groupe:&nbsp;</p>

<p>Connect to <a href="https://careers.smartrecruiters.com/PublicisGroupe" target="_blank">Smart Recruiters</a><br>
Connect to <a href="https://www.linkedin.com/company/publicis-groupe/jobs/" target="_blank">Linkedin Jobs</a></p>

    </div>